<a href="https://colab.research.google.com/github/Wikanes-k/multivariate/blob/main/Multivariate_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้นักศึกษาทำข้อสอบใน Colab Notebook นี้โดยกรอกข้อมูลของตัวเองใน cell ที่ 2 แล้วรัน cell ที่ 1 - 5 และเริ่มทำข้อสอบใน cell ที่ 6 เป็นต้นไป

โดยโจทย์คือ
1. ข้อมูลโจทย์ อยู่ใน ตัวแปร ```Data```
2. ทำ clustering แล้วทำ visualize ข้อมูลแบบ 2 มิติ
3. ลด Dimension ของข้อมูลเหลือ 2 มิติ แล้วทำ clustering แล้ว visualize ข้อมูลแบบ 2 มิติ
4. เปรียบเทียบความแตกต่างของผลข้อ 2. กับ ข้อ 3.
5. เขียน comments อธิบายทุกขั้นตอน
6. อัด video อธิบาย code ทุกๆขั้นตอนรวมถึงผลแล้วอัพลง youtube ในรูปแบบ unlist 
7. commit โดยใช้ชื่อ commit เป็น link youtube ที่อธิบาย code ในข้อ 6.

กำหนดส่งวันที่ 2 พฤษภาคม 2564 (โดยให้มากรอกวันที่ commit ครั้งสุดท้ายใน sheet: https://docs.google.com/spreadsheets/d/1_qJwLDJVtOW1HxBcf_FHVc6UT4J_SOonuR6o3EEnVzw/edit?usp=sharing ช่อง Final)

In [3]:
from sklearn.datasets import make_blobs
import random,math
import numpy as np
import pandas

In [4]:
Name = 'วิฆเนศ เกียรติเกษมสุข'
ID = '6230210556'

In [5]:
def DataGenerator(name,id):
    random.seed(int(id[3:6]))
    numfeat = random.randint(20,30)
    ct = random.randint(len(name)-6,len(name))
    
    X, y = make_blobs(n_samples=10000, centers=ct, n_features=numfeat , random_state=int(id[3:6]))

    print(f'{id[3:6]}:{numfeat}:{ct}')
    X_t = (X[:,1]*2)+int(id[3])
    X_t2 = (X[:,-1]*5)+int(id[4])

    DT = np.append(X,X_t.reshape([10000,1]),axis=1)
    DT = np.append(DT,X_t2.reshape([10000,1]),axis=1)
    
    return pandas.DataFrame(DT)

In [6]:
Data = DataGenerator(Name,ID)

021:22:18

In [7]:
Data

            0         1         2   ...         21         22         23
0     3.194903 -2.484340  9.046534  ...   0.106464  -4.968681   2.532319
1    -0.213970  3.045143 -4.711877  ...   0.296539   6.090287   3.482695
2    -1.979782 -4.234113  6.069967  ...  -9.738056  -8.468227 -46.690281
3     0.891762 -5.713522 -2.516742  ...   2.809819 -11.427045  16.049094
4    -3.019054  2.111087 -0.041213  ...   7.969829   4.222173  41.849147
...        ...       ...       ...  ...        ...        ...        ...
9995 -2.551409 -2.593693 -9.460313  ... -10.095008  -5.187386 -48.475041
9996 -1.892205 -3.202756  5.180795  ...  -8.584671  -6.405511 -40.923353
9997  2.281352 -4.642635 -2.566606  ...   2.518505  -9.285271  14.592527
9998  0.046269 -3.550455 -3.713558  ...   3.538480  -7.100910  19.692400
9999 -9.497783 -3.371443  4.320860  ...   4.251476  -6.742886  23.257380

[10000 rows x 24 columns]